{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consult Us</title>
    {% tailwind_css %}
</head>
<body>
    <div class="min-h-screen py-3 px-3 flex flex-col  ">
        {% include 'userauth/navbar.html' %}

<section class="bg-gray-500 py-16 mt-10">
    <div class="max-w-xl mx-auto bg-white p-10 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-center mb-6">Make a Payment</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="email" class="block text-gray-700">Email</label>
                <input type="email" name="email" id="email" required class="w-full p-2 border border-gray-300 rounded">
            </div>

            <div class="mb-4">
                <label for="name" class="block text-gray-700">Name</label>
                <input type="text" name="name" id="name" required class="w-full p-2 border border-gray-300 rounded">
            </div>

            <div class="mb-4">
                <label for="amount" class="block text-gray-700">Amount</label>
                <input type="number"  name="amount" id="amount" required class="w-full p-2 border border-gray-300 rounded">
            </div>

            <div class="mb-4">
                <label for="payment-description" class="block text-gray-700">Support Details</label>
                <!-- <input type="text" name="payment-description" id="payment-description" required class="w-full h-10 p-2 border border-gray-300 rounded"> -->
                <textarea id="payment-description" name="payment-description" rows="5" class="w-full border border-gray-300 rounded-md shadow-sm p-3 focus:outline-none focus:ring-2 focus:ring-blue-500" required></textarea>
            </div>

            <button type="submit" class="w-full bg-indigo-500 text-white py-2 rounded hover:bg-indigo-600 transition duration-300">Proceed to Pay</button>
        </form>
    </div>
</section>


{% include 'userauth/footer.html' %}
</div>  
</body>
</html>