{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    {% tailwind_css %}
</head>
<body>
    <div class="min-h-screen py-3 px-3 flex flex-col ">
        {% include 'userauth/navbar.html' %}
        

<!-- BLOGS -->
<div class="blogs-list max-w-7xl mx-auto py-10 mt-20 space-y-10">
    {% for blog in blogs %}
        <div class="blog-post bg-white shadow-lg rounded-xl overflow-hidden transition-transform transform hover:scale-105 duration-300">
            <!-- Blog Title -->
            <div class="p-6">
                <h2 class="text-3xl font-bold text-gray-900 mb-3">{{ blog.title }}</h2>
                <p class=" whitespace-normal text-gray-700 leading-relaxed mb-4 text-pretty">{{ blog.content|slice:":300" }}...</p>
                <a href="{% url 'blog_detail' blog.id %}" class="text-blue-500 font-semibold hover:underline">Read more</a>


                <!-- Published Date -->
                <p class="text-sm text-gray-500 mt-4"><strong>Published on:</strong> {{ blog.date_created|timesince }}</p>
            </div>

            <!-- Blog Images -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for image in blog.images.all %}
                    <div class="relative group overflow-hidden rounded-lg">
                        <img src="{{ image.image.url }}" alt="Blog Image" class="w-full h-72 object-cover transition-opacity duration-300 group-hover:opacity-75">
                        {% if image.caption %}
                            <div class="absolute inset-0 bg-gray-800 bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
                                <p class="text-white font-medium">{{ image.caption }}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% include 'userauth/footer.html' %}

</div>  
</body>

</html>