{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modify project</title>
    {% tailwind_css %}
</head>
<body>
    <div class="min-h-screen py-3 px-3 flex flex-col ">
        {% include 'userauth/navbar.html' %}
  

<!-- Project Section -->
<section class="bg-gray-100 py-16 mt-10">
    <div class="max-w-7xl mx-auto px-5">
        <h2 class="text-4xl font-extrabold text-center mb-10 text-gray-800">Project Store</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

            {% for project in projects %}
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <img src="{{ project.image.url }}" alt="Project Image" class="w-full h-48 object-cover">
                <div class="p-6">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">{{ project.title }}</h3>
                    <p class="text-gray-500 mb-4">{{ project.description }}</p>
                    <div class="text-2xl font-bold text-indigo-500 mt-4">GHC {{ project.price }}</div>
                    <a href="{{ project.project_url }}" class="block mt-6 bg-indigo-500 text-white text-center py-2 rounded-lg font-bold hover:bg-indigo-600 transition duration-300" target="_blank">Get Project</a>

                    <!-- Edit/Delete buttons section -->
                    <form method="post" class="flex space-x-4 mt-6">
                        {% csrf_token %}
                        <button type="submit" name="edit" value="{{ project.id }}" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">Edit</button>
                        <button type="submit" name="delete" value="{{ project.id }}" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


{% include 'userauth/footer.html' %}



</div>  
</body>
</html>