{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    {% tailwind_css %}
</head>
<body>
    <div class="min-h-screen py-3 px-3 flex flex-col ">
        {% include 'userauth/navbar.html' %}
 
<!-- Project Section with Forms -->
<section class="bg-gray-100 py-16 mt-10">
    <div class="max-w-7xl mx-auto px-5">
        <h2 class="text-4xl font-extrabold text-center mb-10 text-gray-800">Project Store</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

            {% for project in projects %}
            <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col justify-between transform hover:scale-105 transition-transform duration-300 hover:shadow-2xl hover:border-indigo-500 border-2 border-transparent">
                <img src="{{project.image.url}}" alt="Project Image" class="w-full h-48 object-contain transition-transform duration-300 hover:scale-110">
                
                <div class="p-6 flex-grow flex flex-col">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">{{project.title}}</h3>
                    <p class="text-gray-500 flex-grow">{{project.description}}</p>
                    <div class="text-2xl font-bold text-indigo-500 mt-4">GHC {{project.price}}</div>

                    <!-- Download Project Form -->
                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <button type="submit" class="w-full bg-gradient-to-r from-indigo-500 to-purple-600 text-white text-center py-2 rounded-lg font-semibold shadow-lg hover:from-indigo-600 hover:to-purple-700 transition-all duration-300 ease-in-out transform hover:scale-105">
                            Get Project
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>



{% include 'userauth/footer.html' %}
</div>  
</body>
</html>